Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

docs: add layout folder and radio-button stories
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/stories/bal-app.docs.mdx
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-footer/stories/bal-footer.docs.mdx
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
  packages/components/src/components/bal-logo/stories/bal-logo.docs.mdx
  packages/components/src/components/bal-logo/stories/bal-logo.stories.ts
  packages/components/src/components/bal-navbar/stories/bal-navbar.docs.mdx
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-pagination/stories/bal-pagination.docs.mdx
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/components/bal-shape/stories/bal-shape.docs.mdx
  packages/components/src/components/bal-shape/stories/bal-shape.stories.ts
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.stories.ts
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/layout/bal-content/stories/bal-content.stories.ts
  packages/components/src/components/layout/bal-item/bal-item.sass
  packages/components/src/components/layout/bal-item/bal-item.tsx
  packages/components/src/components/layout/bal-item/stories/bal-item.docs.mdx
  packages/components/src/components/layout/bal-item/stories/bal-item.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): remove unused import
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format and use label in field label
  packages/components-angular/src/module.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/layout/bal-content/bal-content.sass
  packages/components/src/components/layout/bal-content/stories/bal-content.docs.mdx
  packages/components/src/components/layout/bal-content/stories/bal-content.stories.ts
  packages/components/src/components/layout/bal-content/test/bal-content.visual.html
  packages/components/src/components/layout/bal-item/bal-item.sass
  packages/components/src/components/layout/bal-item/bal-item.tsx
  packages/components/src/components/layout/bal-item/stories/Piggy+Bank_Purple.svg
  packages/components/src/components/layout/bal-item/stories/bal-item.docs.mdx
  packages/components/src/components/layout/bal-item/stories/bal-item.stories.ts
  packages/components/src/components/layout/bal-item/stories/invest_save_chf-red.svg
  packages/components/src/components/layout/bal-item/stories/safe-saving-child-tangerine.svg
  packages/components/src/components/layout/bal-item/test/bal-item.visual.html
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/components/typography/bal-label/stories/bal-label.docs.mdx
  packages/components/src/components/typography/bal-label/stories/bal-label.stories.ts
  packages/components/src/components/typography/bal-label/test/bal-label.visual.html
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add radio button test
  packages/components/cypress/component/bal-radio-button.vue
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust conflict and fix style conflict
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust visual
  packages/components/cypress/e2e/visual/bal-heading.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-text.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve changeset
  .changeset/khaki-lions-learn.md
Due: none

chore: rename item to stack
  packages/components-angular/src/module.ts
  packages/components/cypress/component/bal-radio-button.vue
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/layout/bal-item/stories/Piggy+Bank_Purple.svg
  packages/components/src/components/layout/bal-item/stories/bal-item.docs.mdx
  packages/components/src/components/layout/bal-item/stories/invest_save_chf-red.svg
  packages/components/src/components/layout/bal-item/stories/safe-saving-child-tangerine.svg
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.docs.mdx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.stories.ts
  packages/components/src/components/layout/bal-stack/stories/testing.md
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
  packages/components/src/props.d.ts
  packages/components/src/styles/global.components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-icon.visual.cy.ts/icon-variants-desktop-base.png
Due: none

docs: fix stories
  packages/components/src/components/bal-badge/stories/bal-badge.stories.ts
  packages/components/src/components/bal-icon/stories/bal-icon.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: group components
  packages/components/.storybook/preview.js
  packages/components/src/components/bal-hint/stories/bal-hint.docs.mdx
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/bal-popover/stories/bal-popover.docs.mdx
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/components/bal-spinner/stories/bal-spinner.docs.mdx
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/layout/bal-stack/stories/bal-stack.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/components/notice/bal-notification/stories/bal-notification.docs.mdx
  packages/components/src/components/notice/bal-notification/stories/bal-notification.stories.ts
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.stories.ts
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
  packages/components/src/components/notice/bal-toast/stories/bal-toast.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual tests for content, stack and radio-button
  packages/components/cypress/e2e/visual/bal-content.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-radio-button.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-stack.visual.cy.ts
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/layout/bal-content/test/bal-content.visual.html
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust path to test fiel
  packages/components/cypress/e2e/visual/bal-content.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-stack.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-alignment-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-direction-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-space-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-alignment-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-direction-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-space-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): add selectors description
  .build/docs-selectors.js
  .build/utils/typescript.js
  packages/components/config/doc-output-target/markdown-selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add selectors description
  packages/components/config/doc-output-target/index.ts
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add selectors description
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(radio): add prop invisible
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.sass
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/bal-radio.type.ts
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/form/bal-radio/utils/bal-radio.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(checkbox): add button component
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox-button.visual.html
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/props.d.ts
  packages/components/src/utils/form-input.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve docs
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset
  .build/utils/typescript.js
  .changeset/four-mirrors-care.md
Due: none

test: add component tests for events
  packages/components/cypress/component/bal-checkbox-button.vue
  packages/components/cypress/component/bal-checkbox.cy.ts
  packages/components/cypress/component/bal-checkbox.vue
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/cypress/component/bal-radio.vue
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add checkbox button
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.templates.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual test for checkbox-button
  packages/components/cypress/e2e/visual/bal-checkbox-button.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox-button.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox-button.visual.html
Due: prettier --write

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-tablet-base.png
Due: none

chore(): refactor
  .gitignore
  packages/components/config/doc-output-target/index.ts
  packages/components/config/doc-output-target/markdown-commands.ts
  packages/components/config/doc-output-target/markdown-selectors.ts
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/controls/small-control.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: add changeset
  .changeset/wise-cars-sit.md
Due: none

chore: update docs
  .changeset/wise-cars-sit.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-icon/stories/bal-icon.stories.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/layout/bal-content/bal-content.tsx
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: spell issue
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix lint issue
  packages/components/src/components/bal-icon/stories/bal-icon.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust visual tests
  packages/components/src/components/bal-icon/test/bal-icon.visual.html
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
