Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: fix spell issue
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-inheritance-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore(): check if balChange is called
  packages/components/cypress/component/bal-input.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust css order
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet-base.png
Due: none

fix(): handle rendering of the empty field in AgGrid table
  .changeset/twenty-swans-yawn.md
  packages/components-table/src/bal-table-button-renderer.ts
  packages/components-table/src/bal-table-tag-renderer.ts
  packages/components-table/src/bal-table-text-renderer.ts
  packages/components-table/src/utils/format.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  .changeset/twenty-swans-yawn.md
  packages/components-table/src/bal-table-button-renderer.ts
  packages/components-table/src/bal-table-tag-renderer.ts
  packages/components-table/src/bal-table-text-renderer.ts
  packages/components-table/src/utils/parsing.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components-table/src/bal-table-button-renderer.ts
  packages/components-table/src/bal-table-tag-renderer.ts
  packages/components-table/src/bal-table-text-renderer.ts
  packages/components-table/src/utils/parsing.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait for Lottie to be finished
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust visual start up
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navbar.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait for requestIdleCallback
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: platform wait
  packages/testing/src/commands/custom/platform.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: improve utils
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
  packages/components/src/index.ts
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/custom/platform.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: improve utils - 2
  .github/workflows/continuous.yml
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/custom/platform.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: set default viewport to desktop
  packages/components/cypress.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait 500ms waitForDesignSystem
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: remove wait 500ms waitForDesignSystem
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-logo.visual.cy.ts/logo-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-logo.visual.cy.ts/logo-basic-tablet-base.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-tablet-base.png
Due: none

docs: adjust testing
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: enable all visual tests
  .github/workflows/continuous.yml
Due: none

test: remove custom wait calls
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-pagination.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: update platform on each render
  .github/workflows/continuous.yml
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navbar.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/fixtures/bal-footer.footer.json
  packages/components/cypress/fixtures/bal-footer.socialmediachannels.json
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-card-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/button-variants-base.png
  packages/components/cypress/snapshots/base/visual/bal-close.visual.cy.ts/close-variants-base.png
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-backgrounds-base.png
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-sizes-base.png
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-variants-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-tag.visual.cy.ts/tag-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tag.visual.cy.ts/tag-variants-base.png
Due: none

chore: enable all visual test again
  .github/workflows/continuous.yml
Due: none

chore(): refactor
  packages/components/src/components/form/bal-file-upload/bal-file-upload.interfaces.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.interfaces.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/bal-carousel-item/bal-carousel-item.tsx
  packages/components/src/components/bal-carousel/bal-carousel.interfaces.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.interfaces.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.interfaces.ts
  packages/components/src/components/notice/bal-modal/bal-modal.interfaces.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust stencil config for stackblitz
  .changeset/smart-apricots-speak.md
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust stencil config for stackblitz - 2
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust stencil config for stackblitz - 3
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust stencil config for stackblitz - 4
  package-lock.json
  packages/components/package.json
  packages/components/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(css): add missing legacy vars
  .changeset/spotty-boats-matter.md
  packages/css/sass/legacy.sass
Due: none

fix(css): add missing legacy vars for utils
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
  packages/components/src/styles/global.utilities.sass
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: replace lodash.isarray and use tslib for import helpers
  packages/components-react/package.json
  packages/components-react/tsconfig.json
  packages/components/package.json
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/tsconfig.docs.json
  packages/components/tsconfig.json
  packages/components/tsconfig.release.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs(): fix typo
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
