Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-icon.visual.cy.ts/icon-variants-desktop-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

docs: improve table
  packages/components/config/doc-output-target/markdown-selectors.ts
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/components/bal-badge/stories/testing.md
  packages/components/src/components/bal-button/stories/testing.md
  packages/components/src/components/bal-carousel/stories/testing.md
  packages/components/src/components/bal-close/stories/testing.md
  packages/components/src/components/bal-data/stories/testing.md
  packages/components/src/components/bal-footer/stories/testing.md
  packages/components/src/components/bal-heading/stories/testing.md
  packages/components/src/components/bal-hint/stories/testing.md
  packages/components/src/components/bal-pagination/stories/testing.md
  packages/components/src/components/bal-popover/stories/testing.md
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/components/src/components/bal-tag/stories/testing.md
  packages/components/src/components/bal-text/stories/testing.md
  packages/components/src/components/form/bal-checkbox/stories/testing.md
  packages/components/src/components/form/bal-datepicker/stories/testing.md
  packages/components/src/components/form/bal-field/stories/testing.md
  packages/components/src/components/form/bal-file-upload/stories/testing.md
  packages/components/src/components/form/bal-input-stepper/stories/testing.md
  packages/components/src/components/form/bal-input/stories/testing.md
  packages/components/src/components/form/bal-number-input/stories/testing.md
  packages/components/src/components/form/bal-radio/stories/testing.md
  packages/components/src/components/form/bal-select/stories/testing.md
  packages/components/src/components/form/bal-textarea/stories/testing.md
  packages/components/src/components/notice/bal-modal/stories/testing.md
  packages/components/src/components/notice/bal-notification/stories/testing.md
  packages/components/src/components/notice/bal-snackbar/stories/testing.md
  packages/components/src/components/notice/bal-toast/stories/testing.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve format
  packages/components/config/doc-output-target/markdown-commands.ts
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/components/bal-hint/stories/testing.md
  packages/components/src/components/bal-pagination/stories/testing.md
  packages/components/src/components/bal-popover/stories/testing.md
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/components/src/components/form/bal-datepicker/stories/testing.md
  packages/components/src/components/form/bal-field/stories/testing.md
  packages/components/src/components/form/bal-input-stepper/stories/testing.md
  packages/components/src/components/form/bal-select/stories/testing.md
  packages/components/src/components/notice/bal-modal/stories/testing.md
  packages/components/src/components/notice/bal-snackbar/stories/testing.md
  packages/components/src/components/notice/bal-toast/stories/testing.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-datepicker): trigger balChange on empty value when min and max props are set
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-datepicker): enable dates who are in the range when switching the year and min and max prop are set
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset and improve min and max logic
  .changeset/bright-ads-visit.md
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(accordion): refactor to a more flexible solution
  .changeset/great-mayflies-sell.md
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion-details/bal-accordion-details.sass
  packages/components/src/components/bal-accordion/bal-accordion-details/bal-accordion-details.tsx
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.sass
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.tsx
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.sass
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.v2.visual.html
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/events.d.ts
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add visual tests
  packages/components/cypress/e2e/visual/css-background-colors.visual.cy.ts
  packages/components/cypress/e2e/visual/css-border.visual.cy.ts
  packages/components/cypress/e2e/visual/css-shadow.visual.cy.ts
  packages/components/src/test/css-background-colors.visual.html
  packages/components/src/test/css-border.visual.html
  packages/components/src/test/css-shadow.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: merge branch 'next' into feat/radio-and-checkbox-buttons
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update build artifacts
  packages/components/src/components/layout/bal-content/stories/testing.md
  packages/components/src/components/layout/bal-stack/stories/testing.md
  packages/components/src/components/typography/bal-label/stories/testing.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove unused ng accessor
  packages/components-angular/src/index.ts
  packages/components-angular/src/shared.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust accordions tests
  packages/components/cypress/component/bal-accordion.cy.ts
  packages/components/cypress/component/bal-accordion.vue
  packages/components/cypress/e2e/a11y/bal-accordion.a11y.cy.ts
  packages/components/cypress/e2e/base/bal-accordion.cy.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.tsx
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/components/bal-accordion/test/bal-accordion.a11y.html
  packages/components/src/components/bal-accordion/test/bal-accordion.cy.html
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: use JavaScript to prevent scrolling instead of CSS to remember to user scroll position.
  .changeset/clean-mirrors-retire.md
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/index.ts
  packages/components/src/utils/scroll.ts
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/cypress/component/bal-accordion.vue
  packages/components/src/components/bal-accordion/test/bal-accordion.a11y.html
  packages/components/src/components/bal-accordion/test/bal-accordion.cy.html
Due: prettier --write

chore: use animation events
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/events.d.ts
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add hydrate output
  .eslintignore
  .gitignore
  .prettierignore
  packages/components/package.json
  packages/components/stencil.config.ts
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add hydrate output to pre build
  packages/components/stencil.config.pre.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(datepicker): improve user input with adding separators (#1244)
  .changeset/khaki-lions-learn.md
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: use JavaScript to prevent scrolling instead of CSS to remember to user scroll position. (#1253)
  .changeset/clean-mirrors-retire.md
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/index.ts
  packages/components/src/utils/scroll.ts
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(accordion): improve for more flexible solutions (#1252)
  .changeset/great-mayflies-sell.md
  packages/components-angular/src/index.ts
  packages/components-angular/src/shared.ts
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/cypress/component/bal-accordion.cy.ts
  packages/components/cypress/component/bal-accordion.vue
  packages/components/cypress/e2e/a11y/bal-accordion.a11y.cy.ts
  packages/components/cypress/e2e/base/bal-accordion.cy.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion-details/bal-accordion-details.sass
  packages/components/src/components/bal-accordion/bal-accordion-details/bal-accordion-details.tsx
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.sass
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.tsx
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.sass
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/components/bal-accordion/test/bal-accordion.a11y.html
  packages/components/src/components/bal-accordion/test/bal-accordion.cy.html
  packages/components/src/components/bal-accordion/test/bal-accordion.v2.visual.html
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/layout/bal-content/stories/testing.md
  packages/components/src/components/layout/bal-stack/stories/testing.md
  packages/components/src/components/typography/bal-label/stories/testing.md
  packages/components/src/events.d.ts
  packages/components/src/stories/welcome.stories.mdx
  packages/components/src/utils/helpers.ts
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: link to new repo
  .github/ISSUE_TEMPLATE/config.yml
  .github/old/breaking-changes.md
  .github/old/bug-report.md
  .github/old/design-request.md
  .github/old/feature-request.md
  .github/old/question.md
Due: none

chore: link to new repo
  README.md
Due: none

chore: update readme
  README.md
Due: none

chore(): improve border visual test
  packages/components/src/test/css-border.visual.html
Due: prettier --write

chore(): add tests for flex and display
  packages/components/cypress/e2e/visual/css-display.visual.cy.ts
  packages/components/cypress/e2e/visual/css-flex.visual.cy.ts
  packages/components/src/test/css-display.visual.html
  packages/components/src/test/css-flex.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add tests for opacity, radius and spacing
  packages/components/cypress/e2e/visual/css-display.visual.cy.ts
  packages/components/cypress/e2e/visual/css-flex.visual.cy.ts
  packages/components/cypress/e2e/visual/css-opacity.visual.cy.ts
  packages/components/cypress/e2e/visual/css-radius.visual.cy.ts
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-spacing.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add tests for spacing and grid
  packages/components/cypress/e2e/visual/css-spacing.visual.cy.ts
  packages/components/src/test/css-flex.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-spacing.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add tests for core
  packages/components/cypress/e2e/visual/css-core.visual.cy.ts
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-grid.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add tests for core
  packages/components/src/test/css-background-colors.visual.html
Due: prettier --write
