Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: add missing changesets
  .changeset/eleven-camels-smile.md
  .changeset/good-rocks-guess.md
  .changeset/rich-poems-sing.md
Due: none

chore: set any link colors
  packages/css/sass/structure.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-text-inheritance-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

feat(bal-footer): add social media links
  .build/optimize-icons.js
  package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-footer/test/bal-footer.cy.html
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/utils/config/initialize.ts
  packages/components/src/utils/constants/icons.constant.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-footer): format
  packages/components/src/utils/config/initialize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-footer): adjust select icon size when used in footer
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-footer): refactor
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust output
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove untested features
  .build/cdn-loader.js
  .build/copy-cdn-loader.js
  packages/components/config/custom-elements/custom-elements.d.ts
  packages/components/config/custom-elements/package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/mighty-meals-cover.md
Due: none

chore: add changeset
  .changeset/six-cherries-enjoy.md
  package-lock.json
Due: none

chore(): improve footer
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
  packages/components/src/components/bal-footer/test/bal-footer.cy.html
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/css/src/core/layout/link.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

refactor: add navbar auto interface
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navbar/bal-navbar.tsx
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.sass
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/events.d.ts
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust example
  packages/components/src/components/bal-tabs/test/bal-tabs.cy.html
Due: prettier --write

chore(): improve footer
  packages/components/src/components.d.ts
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
  packages/components/src/components/bal-footer/test/bal-footer.cy.html
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/css/src/core/layout/link.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset
  .changeset/good-oranges-complain.md
Due: none

chore(): refactor
  packages/components/src/components/form/bal-select/bal-select.sass
Due: none

chore(): refactor
  package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix select hover
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/form/bal-select/bal-select.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore(): refactor
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/src/components/bal-footer/test/bal-footer.cy.html
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-tablet-base.png
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: prettier --write

chore(): add fullhd in visual test
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-fullhd-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-fullhd-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(): adjust padding on mobile and default values in a storybook
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): change from fullhd to widescreen
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-widescreen-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-widescreen-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(): refactor
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-fullhd-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-widescreen-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-fullhd-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/basic-footer-widescreen-base.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/css/src/core/layout/link.sass
Due: none

fix(maps): provide the correct value
  .build/optimize-map-markers.js
  packages/maps/markers/agency-active.svg
  packages/maps/markers/agency.svg
  packages/maps/markers/broker-active.svg
  packages/maps/markers/broker.svg
  packages/maps/markers/default-active.svg
  packages/maps/markers/default-active_hover.svg
  packages/maps/markers/default.svg
  packages/maps/markers/default_hover.svg
  packages/maps/markers/location.svg
  packages/maps/markers/search-location.svg
  packages/maps/src/markers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(maps): export svg to set markers
  .build/optimize-map-markers.js
  packages/components/public/assets/images/map-markers/agency-active.svg
  packages/components/public/assets/images/map-markers/agency.svg
  packages/components/public/assets/images/map-markers/broker-active.svg
  packages/components/public/assets/images/map-markers/broker.svg
  packages/components/public/assets/images/map-markers/default-active.svg
  packages/components/public/assets/images/map-markers/default-active_hover.svg
  packages/components/public/assets/images/map-markers/default.svg
  packages/components/public/assets/images/map-markers/default_hover.svg
  packages/components/public/assets/images/map-markers/location.svg
  packages/components/public/assets/images/map-markers/search-location.svg
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
  packages/components/src/stories/foundation/brand-assets/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust spell issue
  .changeset/rich-points-play.md
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
