Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

docs: add missing description
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/all-variations-footer-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
Due: none

chore(): add target blank to the social media links
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust download
  .build/archive-maps.js
  .build/docs-copy.js
  packages/components/public/assets/images/architecture/architecture.svg
Due: none

chore: update lock file
  package-lock.json
  package.json
Due: none

chore: format files
  packages/components/cypress/e2e/visual/bal-input-slider.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-input-stepper.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-notification.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-number-input.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add missing .waitForDesignSystem()
  packages/components/cypress/e2e/visual/bal-popover.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-stage.visual.cy.ts
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add missing .waitForDesignSystem()
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/cypress/e2e/visual/css-text-inheritance.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust config to ionic for stackblitz integration
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update lock files
  package-lock.json
  package.json
Due: none

chore(): add missing events
  packages/components/src/components/form/bal-file-upload/bal-file-upload.interfaces.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.interfaces.ts
  packages/components/src/components/form/bal-input/bal-input.interfaces.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.interfaces.ts
  packages/components/src/components/form/bal-radio/bal-radio.interfaces.ts
  packages/components/src/components/form/bal-select/bal-select.interfaces.ts
  packages/components/src/components/form/bal-textarea/bal-textarea.interfaces.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.interfaces.ts
  packages/components/src/components/notice/bal-modal/bal-modal.interfaces.ts
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.interfaces.ts
  packages/components/src/components/notice/bal-toast/bal-toast.interfaces.ts
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add missing events
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.interfaces.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.interfaces.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.interfaces.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.interfaces.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.interfaces.ts
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.interfaces.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.interfaces.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.interfaces.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.interfaces.ts
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.interfaces.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.interfaces.ts
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.interfaces.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-input): fix error on clearing input with claim-number mask
  .changeset/sweet-queens-return.md
  package-lock.json
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual test for typography foundations
  .github/workflows/continuous.yml
  package-lock.json
  packages/components/config/stencil.basic.config.ts
  packages/components/cypress/e2e/visual/css-text-inheritance.visual.cy.ts
  packages/components/src/components/css-text-inheritance.visual.html
  packages/components/src/test/all.html
  packages/components/src/test/css-typography.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/src/test/css-typography.visual.html
Due: prettier --write

chore(): update base images
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-alignment-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-alignment-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-colors-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-display-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-display-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-inheritance-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-styles-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-text-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-text-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-title-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-title-mobile-base.png
Due: none

chore: improve cypress testing
  .github/workflows/continuous.yml
  package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve cypress testing - 2
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve cypress testing - 3
  .github/workflows/continuous.yml
Due: none

chore: improve cypress testing - 4
  .github/workflows/continuous.yml
  .github/workflows/visual-base.yml
Due: none

chore: improve cypress testing - 5
  .github/workflows/continuous.yml
Due: none

chore: improve cypress testing - 6
  .github/workflows/continuous.yml
Due: none

chore(): add test
  packages/components/cypress/component/bal-input.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

test: skip social link test until it is stable
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add structure testing
  packages/components/cypress/e2e/visual/css-structure.visual.cy.ts
  packages/components/cypress/e2e/visual/css-typography.visual.cy.ts
  packages/components/src/test/css-typography.visual.html
  packages/components/src/test/css.structure.visual.html
  packages/css/sass/structure.sass
  packages/css/src/structure/mixins.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: inherit color for link elements
  .changeset/strange-wolves-occur.md
  .github/workflows/continuous.yml
  packages/components/cypress/e2e/visual/css-structure.visual.cy.ts
  packages/components/cypress/e2e/visual/css-typography.visual.cy.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/test/css-structure.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/calm-cameras-itch.md
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-base-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-alignment-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-alignment-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-colors-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-display-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-display-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-styles-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-text-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-text-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-title-base.png
  packages/components/cypress/snapshots/base/visual/css-typography.visual.cy.ts/css-typography-title-mobile-base.png
Due: none

chore: add single base image file
  .github/workflows/visual-base-file.yml
Due: none

chore: adjust tabs styles
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

fix: waitForDesignSystem helper for unit testing
  .changeset/seven-humans-fry.md
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust navbar
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

chore: adjust test naming
  packages/components/cypress/e2e/visual/css-structure.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-text-inheritance-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-alignment-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-alignment-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-colors-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-display-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-display-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-inheritance-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-styles-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-text-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-text-mobile-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-title-base.png
  packages/components/cypress/snapshots/base/visual/css-text-inheritance.visual.cy.ts/css-typography-title-mobile-base.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
