Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

docs: update html code sandbox
  .gitignore
  packages/components/public/assets/code/html/index.ts
  packages/components/src/components/docs/bal-doc-code-sandbox/code-sandbox.html.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update lock file
  package-lock.json
Due: none

docs: update
  package-lock.json
  package.json
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update changeset
  .changeset/smart-apricots-speak.md
Due: none

chore: format files
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/docs/bal-doc-code-sandbox/bal-doc-code-sandbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(number-input): enable dot for a be, de and lu as a decimal number separator
  package-lock.json
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(number-input): refactor
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: improve getting started guid
  cspell.json
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
  packages/components/src/stories/development/guides/getting-started/getting-started_intro.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: wait for fonts
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: waitForComponents improvement
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: update helpers
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/cypress/support/component.ts
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: disable cache
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/famous-bees-jam.md
Due: none

chore(): test push
  packages/components/src/components/form/bal-datepicker/bal-datepicker.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fixe type issues
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.interfaces.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tab.util.ts
  packages/components/src/components/bal-tabs/bal-tabs.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fixe type issues
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust visual tests
  package-lock.json
  packages/components/cypress/e2e/base/bal-tabs.cy.ts
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/package.json
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

feat(bal-datepicker): add automatic separators
  .changeset/khaki-lions-learn.md
  package-lock.json
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tabs): padding and min width
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.interfaces.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update visual test
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/cypress/support/component.ts
  packages/components/cypress/support/e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add new vertical tabs test
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/cypress/support/component.ts
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-opened-mobile-base.png
Due: none

chore: adjust padding mobile and add pre build for missing types
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/stencil.config.pre.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove duplicated vscode types
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-expanded-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-expanded-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

feat(bal-datepicker): adjust component test
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(number-input): enable dot for a be, de and lu as a decimal number separator
  .changeset/khaki-apes-worry.md
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/utils/number.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(tabs): add accordion animation
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-icon.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/components/bal-tabs/test/bal-tabs.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove debug html
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: scope accordion content styles
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust expanded line
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove commented code
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-icon.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove commented code
  packages/components/src/components/bal-tabs/components/tab-select.sass
Due: none
