Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: create pre build for types
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/stencil.config.pre.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(): update selectors
  packages/components/cypress/e2e/base/bal-accordion.cy.ts
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/click.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve changeset
  .changeset/khaki-lions-learn.md
Due: none

fix(bal-time-input): enable bal-time-input to be able to use for angular reactive forms
  .changeset/twenty-moose-love.md
  packages/components/config/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: scroll handler
  .changeset/gold-ravens-change.md
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-body/bal-navigation-main-body.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main/bal-navigation-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-end/bal-navigation-meta-end.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/index.ts
  packages/components/src/utils/scroll.ts
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update changeset
  .changeset/twenty-moose-love.md
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

fix(test): adjust selector of the balModalFindOpen cypress command
  .changeset/selfish-years-press.md
  packages/components/cypress/e2e/base/bal-modal.cy.ts
  packages/testing/src/commands/custom/bal-modal.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: research
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-action/bal-navigation-action.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-levels/bal-navigation-levels.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.sass
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation.interfaces.ts
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/bal-navigation.types.ts
  packages/components/src/components/bal-navigation/components/nav-button.sass
  packages/components/src/components/bal-navigation/components/nav-button.tsx
  packages/components/src/components/bal-navigation/components/nav-desktop.tsx
  packages/components/src/components/bal-navigation/components/nav-touch.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-navigation/utils/action.util.ts
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/interfaces.d.ts
  packages/components/src/utils/framework-delegate.ts
  packages/css/src/core/layout/container.sass
  packages/css/src/mixins/extends.sass
  packages/css/src/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: restore nav
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-body/bal-navigation-main-body.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main/bal-navigation-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-end/bal-navigation-meta-end.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.interfaces.ts
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.interfaces.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/components/tab-label.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/stories/contributors.md
  packages/components/src/utils/mutations.ts
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: enable nav visual
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add data-testid in components
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/controls/small-control.tsx
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-hint/bal-field-hint.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust nav with tabs
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-tabs/components/tab-button.sass
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: remove consoles
  packages/components-angular/src/index.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/utils/mutations.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-colors-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
Due: none

chore: test wait before scroll
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: test wait after click
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: add focus style
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-button.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-icon.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
Due: none

chore(): refactor
  packages/components/src/utils/number.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve selectors
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/components/src/stories/contributors.md
  packages/components/src/stories/development/contributing/03-testing.stories.mdx
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/clear.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/commands/overrides/type.command.ts
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve selectors
  packages/components/cypress/component/bal-select.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix snackbar data-testid host issue
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix number-input should command
  packages/testing/src/commands/custom/bal-input-stepper.command.ts
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/clear.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/should.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix number-input should command
  packages/testing/src/commands/overrides/type.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update changeset
  .changeset/khaki-apes-worry.md
Due: none

chore(): docs
  packages/components/config/doc-output-target/index.ts
  packages/components/config/doc-output-target/markdown-selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(testing): byTestId looks for all data-test combinations
  .changeset/poor-fishes-count.md
  package-lock.json
  packages/components/src/stories/contributors.md
  packages/testing/src/index.ts
  packages/testing/src/selectors/index.ts
  packages/testing/src/selectors/selectors.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(radio): add first draft of radio buttons
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.sass
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/form/bal-radio/test/car.svg
  packages/components/src/components/layout/bal-content/bal-content.sass
  packages/components/src/components/layout/bal-content/bal-content.tsx
  packages/components/src/components/layout/bal-content/test/bal-content.visual.html
  packages/components/src/components/layout/bal-item/bal-item.sass
  packages/components/src/components/layout/bal-item/bal-item.tsx
  packages/components/src/components/layout/bal-item/test/bal-item.visual.html
  packages/components/src/components/layout/bal-label/bal-label.i18n.ts
  packages/components/src/components/layout/bal-label/bal-label.sass
  packages/components/src/components/layout/bal-label/bal-label.tsx
  packages/components/src/components/layout/bal-label/test/bal-label.visual.html
  packages/components/src/props.d.ts
  packages/components/src/stories/contributors.md
  packages/components/src/styles/global.components.sass
  packages/components/src/utils/element-states.ts
  packages/testing/src/selectors.ts
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add stories
  packages/components/.storybook/preview.js
  packages/components/src/components.d.ts
  packages/components/src/components/layout/bal-content/bal-content.sass
  packages/components/src/components/layout/bal-content/stories/bal-content.docs.mdx
  packages/components/src/components/layout/bal-content/stories/bal-content.stories.ts
  packages/components/src/components/layout/bal-content/stories/testing.md
  packages/components/src/components/layout/bal-item/stories/bal-item.docs.mdx
  packages/components/src/components/layout/bal-item/stories/bal-item.stories.ts
  packages/components/src/components/layout/bal-item/stories/testing.md
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-heading/bal-heading.tsx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/typography/bal-heading/stories/testing.md
  packages/components/src/components/typography/bal-heading/test/bal-heading.cy.html
  packages/components/src/components/typography/bal-heading/test/bal-heading.visual.html
  packages/components/src/components/typography/bal-label/bal-label.i18n.ts
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/components/typography/bal-label/stories/bal-label.docs.mdx
  packages/components/src/components/typography/bal-label/stories/bal-label.stories.ts
  packages/components/src/components/typography/bal-label/stories/testing.md
  packages/components/src/components/typography/bal-label/test/bal-label.visual.html
  packages/components/src/components/typography/bal-text/bal-text.sass
  packages/components/src/components/typography/bal-text/bal-text.tsx
  packages/components/src/components/typography/bal-text/stories/bal-text.docs.mdx
  packages/components/src/components/typography/bal-text/stories/bal-text.stories.ts
  packages/components/src/components/typography/bal-text/stories/testing.md
  packages/components/src/components/typography/bal-text/test/bal-text.cy.html
  packages/components/src/components/typography/bal-text/test/bal-text.visual.html
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve separators logic
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
