Repository baloise-incubator/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx,html}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: update structure
  .build/archive-favicons.js
  .build/docs-copy.js
  cspell.json
  package-lock.json
  packages/components-angular/README.md
  packages/components-react/README.md
  packages/components-table/README.md
  packages/components-vue/README.md
  packages/components/README.md
  packages/components/src/components.d.ts
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
  packages/css/README.md
  packages/favicons/CHANGELOG.md
  packages/favicons/LICENSE
  packages/favicons/README.md
  packages/favicons/package-lock.json
  packages/favicons/package.json
  packages/favicons/rollup.config.js
  packages/favicons/src/index.ts
  packages/favicons/tsconfig.json
  packages/fonts/README.md
  packages/icons/README.md
  packages/icons/src/icons.json
  packages/output-targets/angular/README.md
  packages/output-targets/react/README.md
  packages/output-targets/vue/README.md
  packages/testing/README.md
  packages/tokens/README.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update
  .build/archive-favicons.js
  CHANGELOG.md
  package-lock.json
  packages/components/package.json
  packages/components/public/assets/images/architecture/architecture.svg
  packages/favicons/icons/yellow/android-chrome-192x192.png
  packages/favicons/icons/yellow/android-chrome-512x512.png
  packages/favicons/icons/yellow/apple-touch-icon.png
  packages/favicons/icons/yellow/browserconfig.xml
  packages/favicons/icons/yellow/favicon-16x16.png
  packages/favicons/icons/yellow/favicon-32x32.png
  packages/favicons/icons/yellow/favicon.ico
  packages/favicons/icons/yellow/mstile-144x144.png
  packages/favicons/icons/yellow/mstile-150x150.png
  packages/favicons/icons/yellow/mstile-310x150.png
  packages/favicons/icons/yellow/mstile-310x310.png
  packages/favicons/icons/yellow/mstile-70x70.png
  packages/favicons/icons/yellow/site.webmanifest
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update with next
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use new mutation handler
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-steps/utils/watch-tabs.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.sass
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/components/bal-tabs/utils/watch-tabs.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: accordion and inverted style
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/controls/small-control.tsx
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-icon.tsx
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/components/tab-label.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.sass
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/components/bal-tabs/test/bal-tabs.cy.html
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add development docs
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): merge next into favicons
  package-lock.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tabs): adjust tests
  packages/components/cypress/e2e/base/tabs.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/test/bal-tabs.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust tests and go back to working lottie version
  package-lock.json
  packages/components/cypress/component/bal-steps.cy.ts
  packages/components/cypress/component/bal-tabs.cy.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust button colors
  packages/components/src/components.d.ts
  packages/css/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: improve shadow documentation
  packages/components/public/assets/images/foundations/grid/grid.svg
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-text-shadow.tsx
  packages/components/src/stories/foundation/elevation/00-overview.stories.mdx
  packages/components/src/stories/foundation/elevation/01-tokens.stories.mdx
  packages/components/src/stories/foundation/elevation/02-development.docs.mdx
  packages/components/src/stories/foundation/elevation/02-development.stories.ts
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/01-tokens.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve favicon docs
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust radius and border
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-radius.tsx
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/stories/foundation/border-radius/00-overview.stories.mdx
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/css/src/core/form/button.sass
  packages/css/src/core/form/select.sass
  packages/css/src/core/form/shared.sass
  packages/css/src/core/layout/link.sass
  packages/css/src/mixins/control.mixin.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-colors.tsx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: fix spell issues
  packages/components/src/stories/foundation/elevation/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust token name
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-text-shadow.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust titles
  packages/components/src/stories/foundation/elevation/00-overview.stories.mdx
  packages/components/src/stories/foundation/elevation/01-tokens.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-time-input): add custom placeholders, attempt to fix safari color issues
  packages/components/src/components/form/bal-time-input/bal-time-input.i18n.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-time-input.visual.cy.ts/time-input-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-time-input.visual.cy.ts/time-input-basic-mobile-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

fix: adjust build to stencil default
  .build/cdn-loader.js
  .build/copy-cdn-loader.js
  .gitignore
  packages/components/config/custom-elements/custom-elements.d.ts
  packages/components/config/custom-elements/package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
  packages/components/stencil.config.ts
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust path to custom elements folder
  packages/components-vue/src/components/BalApp.ts
  packages/components/config/doc-output-target/index.ts
  packages/components/config/stencil.bindings.vue.ts
  packages/output-targets/angular/src/output-angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use latest v
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: fix stackblitz
  packages/components/config/doc-output-target/index.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(changeset) updated changeset description
  .changeset/nervous-drinks-love.md
Due: none

feat(bal-time-input) removed unsupported props and methods
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-time-input) changed invalid disabled before color
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
Due: none

fix(bal-time-input) corrected invalid disabled before color
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
Due: none

fix(bal-time-input) corrected invalid disabled before color
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(css): paragraphs and links inherit css values from body. Closes #1202
  .changeset/yellow-boxes-develop.md
  packages/components/CHANGELOG.md
  packages/components/cypress/e2e/visual/css-text-inheritance.visual.cy.ts
  packages/components/src/components/css-text-inheritance.visual.html
  packages/css/src/structure/mixins.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add dist to path
  packages/components-vue/src/components/BalApp.ts
  packages/components/config/doc-output-target/index.ts
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.vue.ts
  packages/components/package.json
  packages/components/stencil.config.ts
  packages/output-targets/angular/src/output-angular.ts
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format file
  packages/components/src/components/css-text-inheritance.visual.html
Due: prettier --write

chore(): refactor
  .gitignore
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
